# DataScience  Tools and Ecosystem

**Introduction**
Welcome to my data science notebook! In this notebook, we will explore various data science topics and perform some exercises.

**#DataScience Languages**

Some of the popular languages thar Data Scientists use are:
- Python
- R
- SQL

**#DataScience Libraries**

Some of the common Data Science libraries are:
1. Numpy
2. Pandas
3. Matplotib

**## Data Science Tools**

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Spyder             |

**## Arithmetic Expression Examples**

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# Multiplication and Additon
mutiadd= ( 3 * 4 ) + 5
print("Result of both multiplication and addition:", mutiadd)

Result of both multiplication and addition: 17

In [3]:
# Convert Minutes to Hours
minutes = 200
hours = minutes / 60
print("Hours:", hours)

Hours: 3.3333333333333335

**##Objectives**
- Practice using Jupyter Notebook
- Explore data science languages and libraries
- Perform arithmetic operations in Python

## Author
- Bilal Haider